<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Data from Intel ARK</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 jumbotron'>
                <h1>Data from Intel Ark</h1>
                <p>Demo Project for KUEDW20190708DATA</p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <h4>placeholder for visual selector</h4>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <div class='panel panel-primary'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>Available Fields</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='form-check' id='tableColumns'>
                            <input type="checkbox" class="form-check-input" id="materialUnchecked">
                            <label class="form-check-label" for="materialUnchecked">Material unchecked</label>
                            <br>
                            <input type="checkbox" class="form-check-input" id="materialUnchecked2">
                            <label class="form-check-label" for="materialUnchecked2">Material unchecked</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-9'>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Col 1</th>
                            <th>Col 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1 Col 1</td>
                            <td>Row 1 Col 2</td>
                        </tr>
                        <tr>
                            <td>Row 2 Col 1</td>
                            <td>Row 2 Col 2</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='stuff.js') }}"></script>
</body>

<script>
</script>

</html>